h1 {
	color: rgba(0,200,100,0.8);
	border-color: purple;
	border-width: 5px;
	border-style: solid;

	border: 2px dashed purple;
}


li {
	color: green;
}

h4 {
	color: rgba(255,100,88);
}

body {
	background: url(https://previews.123rf.com/images/detshana/detshana1509/detshana150900718/45255935-marble-texture-white-marble-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


